.center {
    
  background-color: #f0fffe;
  position: absolute;
  left: 50%;
  top: 50%;
  height: 1200px;
  width: 900px;
  overflow-x: hidden;
  overflow-y: scroll;

  padding: 40px;
   
  }
  .select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }